.wrapper.clearfix
  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__current-group
        .main-header__current-group__name  test-group
        .main-header__current-group__member-list
          .main-header__current-group__member-list__member Member: test-user
      .main-header__edit-btn  Edit
    .messages 
      .messages__message
        .messages__message__upper-info
          .messages__message__upper-info__user test-user
          .messages__message__upper-info__date 2019/05/16(Thur)
        .messages__message__text  こんにちは！
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
