.wrapper
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__current-group
        .main-header__current-group__name 
          = @group.name
        .main-header__current-group__member-list
          MEMBER：
          .main-header__current-group__member-list__member
          - @group.users.each do |user|
            = user.name
      .main-header__edit-btn
        = link_to 'Edit', edit_group_path(@group)
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
